[include]
  path = .gitconfig.local # user.name, user.emailの設定ファイル読み込み
[core]
  editor = nvim
[alias]
  st = status
  cc = commit
  cv = commit -v
  ca = commit --amend
  co = checkout
  aa = add -A
  df = diff
  dfs = diff --staged
  graph = log --graph --oneline
  br = branch
  lg = log --oneline
  ref = reflog
  mt = mergetool
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[mergetool]
  keepBackup = false
