[include]
  path = .gitconfig.local # user.name, user.emailの設定ファイル読み込み
[core]
  editor = nvim
	excludesfile = /Users/y.nakagami/.gitignore_global
[alias]
  st = status
  cc = commit
  cv = commit -v
  ca = commit --amend
  co = checkout
  aa = add -A
  df = diff
  dfs = diff --staged
  graph = log --graph --oneline
  br = branch
  lg = log --oneline
  ref = reflog
  mt = mergetool
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[mergetool]
  keepBackup = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = y.nakagami
	email = 
[commit]
	template = /Users/y.nakagami/.stCommitMsg
