syntax on " シンタックスを判別してカラー表示する
filetype plugin indent on " ファイルタイプに応じてインデントを有効化する
set autoindent " 改行時に前の行のインデントを継続する
set autoread " vimで開いているファイルが外部で編集された時に自動で読み直す
set backspace=indent,eol,start " バックスペースキーの有効化
set encoding=utf-8
set hlsearch " 検索結果をハイライト
set incsearch " インクリメンタルサーチ. １文字入力毎に検索を行う
set showcmd " 右下にコマンドが表示される
set ignorecase " 検索パターンに大文字小文字を区別しない
set smartcase " 検索パターンに大文字を含んでいたら大文字小文字を区別する
set expandtab " タブ入力を複数の空白入力に置き換える
" ctrl+lでesc
" snoremapはスニペット使用時に使う
inoremap <C-l> <Esc>
cnoremap <C-l> <Esc>
vnoremap <C-l> <Esc>
snoremap <C-l> <Esc>
onoremap <C-l> <Esc>
lnoremap <C-l> <Esc>
" ターミナルモード時にescで抜ける
tnoremap <Esc> <C-\><C-n>
" ctrl+lでctrl+c
tmap <C-l> <C-c>
" ctrl+lで検索ハイライト無効化+再描画
nnoremap <silent> <C-l> :<C-u>nohlsearch<CR><C-l>

nnoremap <Space>v :<C-u>edit ~/.ideavimrc<CR>
nnoremap <Space>s :<C-u>source ~/.ideavimrc<CR>

" レジスタprefixをLeader+r
nnoremap <Space>r "
vnoremap <Space>r "
" ヴィジュアルモードで+でシステムクリップボードにyank
vnoremap + "+y
" Leader+aで全選択
nnoremap <Space>a ggVG

" xで文字を消した際にレジスタに格納しない
nnoremap x "_x
vnoremap x "_x

" ウィンドウprefixをsに変換
nnoremap s <C-w>
" ウィンドウ分割時にフォーカス移動
nnoremap sv <C-w>v<C-w>w
nnoremap ss <C-w>s<C-w>w
" sNでvnew
nnoremap sN :<C-u>vnew<CR>
" Yでカーソル位置から行末までコピー
nnoremap Y y$
nnoremap <C-j> mzo<Esc>"_cc<Esc>`z
nnoremap <C-k> mzO<Esc>"_cc<Esc>`z
" Leader*2でファイル全体のインデントを揃える
nnoremap <silent> <Space><Space> mz:%normal ==<CR>`zzz
" nnoremap <silent> <Space><Leader> :<C-u>call CocAction("format")<CR>

" Leader+wで保存
nnoremap <Space>w :<C-u>write<CR>
" Leader+qで閉じる(未保存のファイルがある時ダイアログ表示)
nnoremap <Space>q :<C-u>confirm qall<CR>
" Leader+zで保存して終了
nnoremap <Space>z :<C-u>wqall<CR>

" Leader+Sでsubstituteコマンド
nnoremap <Space>S :<C-u>%s/<C-r>///g<Left><Left>

" gJで連結する際に連結部分の空白除去
" (デフォルトだとインデントなどされてた場合インデント分の空白を残した状態で連結するため)
nnoremap <silent> gJ mz:<C-u>+1s/^\s\+//e<CR>`zgJ
xnoremap <silent> gJ :<C-u>'<+1,'>s/^\s\+//e<CR>gvgJ

" 論理行単位ではなく表示行単位でカーソルを移動する
nnoremap j gj
nnoremap k gk
nnoremap ^ g^
nnoremap $ g$

" Emacsキーバインディングの設定
" インサートモード
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>

" コマンドモード
" ctrl+n/pはデフォルトで履歴を辿れるがフィルタリング機能が<up>, <down>にしかないので追加
cnoremap <C-p> <Up>
cnoremap <C-n> <Down>
cnoremap <C-b> <Left>
cnoremap <C-f> <Right>
cnoremap <C-a> <Home>
cnoremap <C-e> <End>

" *で検索時に次の検索文字に移動しないように設定
nnoremap * mq*`q

" *で検索時に次の検索文字に移動しないように設定
nnoremap * *N
nnoremap g* g*N

" <ctrl+r>*2で無名レジスタ
inoremap <C-r><C-r> <C-r>"
cnoremap <C-r><C-r> <C-r>"

" ヴィジュアルモードでgyでyankしたらyank範囲の末尾にカーソル移動
vnoremap gy y`>
" gpでペースト時にカーソルを一個上の行に移動(連続ペーストの時デフォルトだと使いづらいため)
nnoremap gp gpk
" 選択範囲に.コマンド実行
vnoremap <silent> . :normal .<CR>

" バッファ系のコマンドが全て無いため代替
" タブ移動
nnoremap <C-y> :<C-u>next<CR>
nnoremap <C-e> :<C-u>previous<CR>
nnoremap <C-d> :quit<CR>
